/* utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #083b4c;
}

h1{
    text-align: center;
    padding: 2rem 0;
    color: white;
    font-size: 4rem;
}

 /* ------ codice ------ */

 #container{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
 }

 .square{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 3px;
 }

 .blue{
    background-color: #1389b2;
 }

 .green{
    background-color: #0bd6a1;
 }

 .yellow{
    background-color: #ffd166;
 }

 .red{
    background-color: #f0466f;
 }